body {
    font-family: "Optima", "Arial narrow", sans-serif;
    margin-left: 5%;
    margin-right: 5%;
    background-image: url("bg.avif");
    background-size: cover;
}


header{
    background-color: rgb(0, 0, 0);
    margin-top: -10px;
}
img.icon{
    width: 400px;
    height: 200px;
}

h1.descPage{
    margin-left: 75%;
    margin-top: auto;
    color: white;
    padding-right: 1%;

}

nav{
    background: rgb(255, 255, 255);
    margin-top: -22px;
    margin-bottom: -20px;
    padding-top: 15px;
}

menu{
    margin:auto;
    width: 50%;

}

#sezioneMenu ul {
    padding:0;
    margin: 0 auto;
    display:block;
    list-style-type:none;
}

#sezioneMenu li {
    display:inline; 
    margin: -2px;
}
#sezioneMenu a {
    color:rgb(0, 0, 0);
    font-size: 20px;
    text-align:center;
    text-decoration:none; 
    padding:10px 40px;
    border-bottom:1px solid rgb(0, 0, 0);
}

#sezioneMenu a:hover{
    border-bottom:1px solid rgb(255, 255, 255);
    border-right:1px solid rgb(0, 0, 0);
    border-left:1px solid rgb(0, 0, 0);
}

main{
    background: rgb(255, 255, 255);
    margin-bottom: -22px;
}

h2.section{
    vertical-align: top;
    text-decoration: underline;
    padding-top: 2%;
    padding-left: 1%;
}

video{
    width: 30%;
    padding-left: 2%;
    padding-bottom: 1%;
}

img.footerIcon{
    width: 250px;
    height: 125px;
    margin-left: 85%;
    margin-top: -100px;
}
h4.footerDesc{
    color:rgb(255, 255, 255);
    padding-left: 10px;
    padding-top: 10px;
}
footer{
    background-color: rgb(0, 0, 0);
    margin-bottom: -10px;
}